@import '../Classroom/Classroom.scss';

.presentation-container {
  width: auto;
  height: auto;
}

img.presentation-image {
  height: $height-camera-proportion !important;
}

.Pointer-Canvas-Organization {
  position: absolute;
}
