@import '../../App.scss';

.container-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 5px;
}

.Chat-messages-display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Chat-messages-display > div > div:first-child {
  margin-bottom: -17px !important;
}

.Chat-messages-text-display {
  vertical-align: center;
}
.message-container {
  flex-wrap: wrap;
}

.Chat-input-display {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
}

.Chat-textfield {
  margin-left: 10px !important;
  flex: 1;
}

.Chat-textfield > .MuiOutlinedInput-root {
  border-radius: 20px;
}
// design input
.Chat-textfield > .MuiOutlinedInput-root > .MuiOutlinedInput-notchedOutline {
  top: -4px !important;
  border: 2px solid $darkest-green-color;
}

// input
.Chat-textfield > .MuiOutlinedInput-root > .MuiOutlinedInput-input {
  padding: 0px 15px !important;
  z-index: 1;
}

.Chat-textfield
  > .MuiOutlinedInput-root
  > .MuiOutlinedInput-input::placeholder {
  color: $lighter-color;
}

// input-text do chat
.Chat-textfield > .MuiOutlinedInput-root > .MuiOutlinedInput-notchedOutline,
.Chat-textfield > .MuiOutlinedInput-root > .MuiOutlinedInput-input {
  background-color: $green-color;
  height: 40px;
  font-family: 'Source Serif Pro';
}

.Chat-input-display > .MuiIconButton-root {
  padding: 0px;
  margin: 0 10px;
}

.Chat-input-display > .MuiIconButton-root {
  width: 40px !important;
  min-width: 40px !important;
  height: 40px !important;
  min-height: 40px !important;
  padding: 4px !important;
  font-size: inherit;
  background-color: $lighter-green-color;
  border: 2px solid $darkest-green-color;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Chat-input-display > .MuiIconButton-root:hover {
  background-color: $green-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Chat-input-display > .MuiIconButton-root > .MuiIconButton-label > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

//QUESTION

.question-icon.MuiIconButton-root {
  color: $lighter-color;
  height: 15px;
  width: 24px;
  padding: 8px !important;
  background-color: $green-color;
  border-radius: 5px;
}

.question-typography {
  color: $lighter-color;
  background-color: $grey-color;
  padding: 5px;
}
