.ClassAction-button-organization {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
}

.ActionButton-button {
  background: #2b9a9e;
  border: 1px solid #151924;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 45%;
  margin-left: 1.25%;
  margin-right: 1.25%;
  margin-top: 10px;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}
