.Chat-messages-display{
    display: flex;
    flex-direction: column;
}

.Chat-messages-text-display{
    vertical-align: center;
}

.Chat-input-display {
    display: flex;
    justify-content: space-around;
}