@import '../../App.scss';

.classMenu-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.container-class-menu-height-organization {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  height: 60vh;
  max-width: 45vw;
  flex: 1;
}
.container-class-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  border: 1px solid $green-color;
  border-radius: 5px;
}

.classMenu-classroom-container {
  height: 100vh !important;
  width: 100vw !important;
  top: 0 !important;
}

.icon-GGStudy {
  height: 200px;
  width: 200px;
}

.label-select {
  color: $green-color !important;
}

label#label-select-classroom {
  top: -10px !important;
}

.select {
  min-width: 250px;
  color: $lighter-color !important;
}

.select:before {
  border-color: $lighter-color !important;
}

.select .MuiSelect-icon {
  color: inherit !important;
}

.select .MuiSelect-select:not([multiple]) optgroup {
  color: $darkest-green-color !important;
}

.label-error {
  color: $red-color !important;
  font-size: 14px !important;
}
