@import '../App.scss';

.container {
  font-family: Source Serif Pro;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  background-color: $darkest-grey-color;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.coluna-1 {
  width: 25vw;
  height: 100vh;
}

.menu-container {
  height: 50px;
  width: auto;
  background-color: $darkest-green-color;
  border: 2px solid $darkest-grey-color;
  justify-content: center;
  align-items: center;
}

.notebook-container {
  height: calc(100vh - 56px);
  width: auto;
  background-color: $grey-color;
  border: 2px solid $darkest-grey-color;
  border-top-width: 0px;
  justify-content: center;
  align-items: flex-start;
}

.coluna-2 {
  width: 55vw;
  height: 100vh;
}

.camera-container {
  height: 120px;
  width: auto;
  background-color: $grey-color;
  border: 2px solid $darkest-grey-color;
  border-left-width: 0px;
  border-right-width: 0px;
  justify-content: flex-start;
  align-items: center;
}

.video-container {
  height: calc(100vh - 150px - 150px - 8px);
  justify-content: center;
  align-items: center;
  width: auto;
  flex: 0 1 auto;
  flex-shrink: 0;
}

.question-container {
  height: 180px;
  width: auto;
  background-color: $grey-color;
  border: 2px solid $darkest-grey-color;
  border-left-width: 0px;
  border-right-width: 0px;
  justify-content: center;
  align-items: flex-start;
}

.coluna-3 {
  width: 20vw;
  height: 100vh;
}

.group-container {
  height: 300px;
  width: auto;
  border: 2px solid $darkest-grey-color;
  background-color: $grey-color;
  justify-content: center;
  align-items: flex-start;
}

.chat-container {
  height: calc(100vh - 300px - 6px);
  width: auto;
  background-color: $grey-color;
  border: 2px solid $darkest-grey-color;
  border-top-width: 0px;
  justify-content: center;
  align-items: flex-start;
}
