.CameraArea-cameras-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CaptureCamera-video-div-style {
  background: #3fb8bd;
  border: 2px solid #094f52;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.ConferenceMenu-menu-organization {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CaptureCamera-video-adjusting {
  object-fit: fill;
}
