@import '../../App.scss';

.Teste {
  display: flex;
}

.Login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0.5;
  width: 45%;
  border: 1px solid $green-color;
  border-radius: 5px;
}
.icone-GGStudy {
  height: 200px;
  width: 200px;
}

.Login-height-organization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0.3;
}

.Login-username {
  margin-bottom: 5px;
}

.username-input {
  width: 250px;
}
.password-input {
  width: 250px;
}

.MuiInputBase-input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-color: inherit !important;
  color: $lighter-color !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl:before {
  border-color: $lighter-color !important;
}

.MuiFormLabel-root:not(.Mui-error) {
  color: $green-color !important;
}
