// CORES PADRÕES
$darkest-grey-color: #151924;
$grey-color: #393d46;
$darkest-green-color: #094f52;
$green-color: #2b9a9e;
$lighter-green-color: #3fb8bd;
$lighter-color: #e1e4eb;
$red-color: #f44336;

.App {
  text-align: center;
}

.App-header {
  background-color: $darkest-grey-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $lighter-color;
}
